#agenda {
    .agenda-article {
        @include transition(background 500ms);
        margin-bottom: 30px;
        padding: 15px 20px;
        position: relative;

        &.expanded {
            &:after {
                opacity: 0;
            }

            .agenda-abstract {
                max-height: 1000px;
            }
        }

        body:not(.mobile) &:hover {
            @include transition(background 250ms);
            background: transparentize($color-green, 0.75);

            &:after {
                @include transition(height 250ms);
                height: 0;
            }

            .agenda-abstract {
                @include transition(max-height 500ms);
                max-height: 1000px;
            }
        }

        &:after {
            @include transition(height 500ms);
            @include transition-delay(100ms);
            @include background-image(linear-gradient(to bottom, rgba(255, 255, 255, 0) -75%, #FFF 50%));
            content: 'Hover to see more';
            position: absolute;
            display: block;
            overflow: hidden;
            height: 50px;
            left: 0;
            bottom: -10px;
            right: 0;
            padding-left: 20px;
            color: $color-green;
            text-decoration: none;
            line-height: 75px;
            font-size: 18px;
            z-index: 1;

            @include js-mobile() {
                content: 'Read more...';
            }
        }
    }

    .agenda-speaker-name {
        font-weight: normal;

        @include js-mobile() {
            display: block;
            font-weight: bold;
        }

        &:after {
            content: ' | ';

            @include js-mobile() {
                content: none;
            }
        }

    }

    .agenda-talk-title {
        @include js-mobile() {
            display: block;

            &:after {
                content: '';
                display: block;
                width: 20%;
                height: 1px;
                background: $color-black;
                margin-top: 5px;
                margin-bottom: 10px;
            }
        }
    }

    .agenda-abstract {
        @include transition(max-height 250ms);
        display: block;
        font-size: 18px;
        line-height: 26px;
        max-height: 75px;
        overflow: hidden;
    }

    .agenda-abstract {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
}