.footer {
  color: $color-white;
  text-align: center;

  .inner {
    padding: $footer-padding 0;

    > * + * {
      margin: $footer-spacing 0;
    }
  }

  .logo {
  	font-size: $footer-logo-font-size;
    border-width: $footer-logo-border-width;
    padding: $footer-logo-padding;

    .letter {
      width: $footer-letter-width;
      text-align: center;
      margin-left: 0em;
    }
  }

  .subtitle {
    padding-top: 10px;
    font-size: $footer-subtitle-font-size;
    letter-spacing: 3px;
  }

  .email {
    font-size: $footer-email-font-size;
    font-weight: $footer-email-font-weight;
    letter-spacing: $footer-email-letter-spacing;
    color: $color-white;
    text-decoration: none;
    display: block;
    margin-top: 0;
    @include animated-link($color-white, -5px);
  }
}
