.intro {
	@include brand-gradient();
	height: 100%;
	position: relative;
	color: $color-white;
	text-align: center;
	text-transform: uppercase;
	font-size: $intro-font-size;

	.inner {
		@include position(absolute, 50%, nil, nil, 50%);
		@include translate(-50%, -50%);
		width: 100%;
	}

	%title {
		@include position(absolute, nil, nil, nil, 50%);
		width: 100%;
	}

	.subtitle {
		@extend %title;
		@include translate(-50%, -100%);
		top: $intro-title-offset;
		font-size: $intro-title-subtitle-font-size;
		letter-spacing: $intro-title-subtitle-letter-spacing;
        text-transform: capitalize;
		@include respond-to("mobile") {
			font-size: $intro-title-subtitle-font-size * 0.9;
		}
	}

	.datetime {
		@extend %title;
		@include translate(-50%, 100%);
		bottom: $intro-title-offset;
		font-size: $intro-title-datetime-font-size;
        letter-spacing: $intro-title-datetime-letter-spacing;
        text-transform: capitalize;

	}
}

.logo {
	border: solid $border-width;
	line-height: $intro-logo-line-height;
	font-size: $intro-logo-font-size;
	text-align: left;
	display: inline-block;
	padding: $intro-logo-padding;
    letter-spacing: $intro-logo-letter-spacing;

	a {
		display: block;
		text-decoration: none;
		color: inherit;
	}

	.word {
		display: block;
		white-space: nowrap;
	}

	.is-censored {
		color: transparent;
		position: relative;
		letter-spacing: -0.15em;	// controls the space we're reserving

		&:after {
			@include position(absolute, 0, nil, nil, 0);
			@include transform(translateY(-63%) scaleX(0.85));
			letter-spacing: normal;
			content: "___";
			color: $color-white;
		}
	}
}
