.nav {
	@include position(fixed, 50%, $nav-offset);
	z-index: 100;
	text-align: right;

	@include respond-to("desktop") {
		@include translateY(-50%);
	}

	@include respond-to("up to tablet") {
		@include position(nil, 0, 0);

		.nav-active & {
			bottom: 0;
			left: 0;
			background: rgba($color-blue, 0.7);
		}
	}
}

@include respond-to("desktop") {
	.nav-toggle {
		display: none;
	}
}

@include respond-to("up to tablet") {
	.nav-toggle {
		@include position(absolute, $nav-toggle-coordinate, $nav-toggle-coordinate);
		cursor: pointer;
		display: block;
		width: $nav-toggle-size * 4;
		height: $nav-toggle-size * 3;
		color: transparent;

		span {
			top: $nav-toggle-size;

			&,
			&:before,
			&:after {
				@include single-transition(all, 0.4s);
				@include box-shadow(-1px 1px $color-green);
				background-color: $color-white;
				display: block;
				position: absolute;
				width: 100%;
				height: $nav-toggle-size / 2;
				left: 0;
			}

			&:before,
			&:after {
				content: "";
			}

			&:before {
				@include transform-origin(33%, 100%);
				top: -$nav-toggle-size;
				z-index: 10;
			}

			&:after {
				@include transform-origin(33%, 0);
				top: $nav-toggle-size;
			}
		}

		.nav-active & {
			span {
		  		background-color: transparent;

				&,
				&:before,
				&:after {
					@include box-shadow(none);
				}

				&:before {
					@include transform(translateY($nav-toggle-size / 2) translateX(1px) rotate(45deg));
				}

				&:after {
  					@include transform(translateY($nav-toggle-size / -2) translateX(1px) rotate(-45deg));
  				}
			}
		}
	}

	.nav-list {
		@include position(absolute, 50%);
		@include translateY(-50%);
		display: none;
		width: 100%;
		text-align: center;

		.nav-active & {
			display: block;
		}
	}
}

%has-nav-bullet {
	position: relative;

	&:before {
		@include transition(all 0.3s);
		@include pseudo-element($nav-bullet-size);
		@include position(absolute, 50%, $nav-bullet-offset);
		@include translate(100%, -50%);
		background: $nav-bullet-background;
		opacity: $nav-bullet-opacity;
	}

	&.active:before {
		width: $nav-offset;
	}

	&.active:before,
	&:hover:before {
		opacity: $nav-bullet-opacity_active;
        width: $nav-offset;
	}
}

.nav-link {
	@extend %has-nav-bullet;
	@include padding-vertical($nav-link-vertical-spacing);
	cursor: pointer;
	display: block;
	text-transform: uppercase;
	color: $nav-link-color;
	text-decoration: none;
	font-size: $nav-link-font-size;

	@include respond-to("up to tablet") {
		@include padding-vertical($nav-link-mobile-vertical-spacing);
		font-size: $nav-link-mobile-font-size;

		&:before {
			display: none;
		}
	}
}