#organizers {
  padding-bottom: 18%;
}

.organizers-text {
  font-size: 1rem;
  font-weight: 300;
  line-height: 32px;
}

.organizers-characters {
  position: absolute;
  bottom: -8%;
  right: -5%;
  width: 85%;
  height: 33%;
}

.organizer {
  position: relative;
  display: inline-block;
  width: 16%;
  height: 100%;

  @include respond-to("up to phablet") {
  	width: 14%;
  }

  &:hover .organizer-header {
    display: block;
  }
}

.organizer-header {
  position: absolute;
  left: -15%;
  bottom: 100%;
  padding: 8% 12%;
  display: none;
  text-align: center;
  width: 110%;
  background-color: rgba(0,0,0,0.7);
}

.organizer-name {
  margin-bottom: -8%;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.6rem;
  color: $color-white;
}

.organizer-link {
  text-decoration: none;
  color: $color-green;
  @include animated-link($color-green, 6px);
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.organizer-photo {
  position: absolute;
  bottom: 0;
  height: 95%;
}