#organizers {
  padding-bottom: 18%;
}

.organizers-text {
  font-size: 1rem;
  font-weight: 300;
}

.organizers-characters {
  position: absolute;
  bottom: -8%;
  right: -5%;
  width: 85%;
  height: 33%;
}

.organizer {
  position: relative;
  display: inline-block;
  width: 16%;
  height: 100%;

  @include respond-to("up to phablet") {
  	width: 14%;
  }

  &:hover .organizer-header {
    display: block;
  }
}

.organizer-header {
  position: absolute;
  left: -5%;
  bottom: 100%;
  border: 1px solid $color-black;
  padding: 2%;
  display: none;
  text-align: center;
  width: 110%;
  background-color: $color-white;
}

.organizer-name {
  margin-bottom: -7%;
  font-weight: 400;
}

.organizer-link {
  text-decoration: none;
  color: $color-green;
  @include animated-link($color-green, 4px);
  font-weight: 300;

}

.organizer-photo {
  position: absolute;
  bottom: 0;
  height: 95%;
}