#registration {
  @include respond-to("down to tablet") {
    width: 55%;
  }

  .sold-out {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    &:after {
      content: 'Sold Out';
      position: absolute;
      background-color: $color-green;
      transform: rotate(-9deg);
      text-align: center;
      width: 110%;
      top: 35%;
      left: -5%;
      color: $color-white;
      font-weight: 200;
      letter-spacing: 0.1em;
    }
  }

  .tickets {
    @include clearfix();
    margin-bottom: 3%;
    padding-top: 5%;
    padding-left: 3%;
  }

  .ticket {
    width: 42%;
    max-width: 400px;
    float: left;
    position: relative;

    &:nth-child(2) {
      float: left;
      margin-left: 30px;
    }
  }

  .ticket-box {
    @include brand-gradient();
    display: inline-block;
    width: 100%;
    color: $color-white;
    position: relative;
    overflow: hidden;

    &:hover {
      .border-effect {
        opacity: 1;

        &.top {
          right: 100%;
        }

        &.bottom {
          left: 100%;
        }

        &.left {
          top: 100%;
        }

        &.right {
          bottom: 100%;
        }

        @include js-mobile() {
          display: none;
        }
      }
    }
  }

  .border-effect {
    position: absolute;
    opacity: 0;
    background-color: $color-white;
    transition-property: top, left, bottom, right;
    transition-duration: 1s;
    transition-timing-function: linear;

    &.horizontal {
      width: 2%;
      height: 35%;
    }

    &.vertical {
      width: 35%;
      height: 4%;
    }

    &.top {
      top: 0;
      right: 2%;
    }

    &.bottom {
      bottom: 0;
      left: 2%;
    }

    &.left {
      top: 0;
      left: 0;
    }

    &.right {
      bottom: 0;
      right: 0;
    }
  }

  .ticket-inner {
    display: block;
    margin: 1.5%;
    border: 4px $color-white solid;
    text-align: center;
    padding: 8%;
    text-decoration: none;
    color: $color-black;
    background-color: $color-white;

    > * {
      line-height: 1.5;
    }
  }

  .ticket-name {
    font-size: 1rem;
    font-weight: 300;
  }

  .ticket-price {
    font-size: 1rem;
  }

  .ticket-details {
    display: block;
    font-weight: 300;
    font-size: 0.9rem;
  }

  .ticket-note {
    text-align: center;
    color: $color-green;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 1px;
  }

  .tickets-checkout {
    font-weight: 300;
  }

  .additional-info {
    font-weight: 300;

    .title {
      font-weight: 400;
    }
  }
}
