.section {
	box-sizing: border-box;
	margin: $section-margin-top auto $section-margin-bottom auto;
	min-height: 100% - $section-margin-top - $section-margin-bottom;
	width: 65%;
	max-width: 1200px;
	position: relative;
	background: $section-background;
	color: $section-color;
	font-size: $section-font-size;
	line-height: $section-line-height;
	border: solid $border-width $section-border-color-a;
	/*border-image: linear-gradient(to right, $section-border-color-a, $section-border-color-b) 1% stretch;*/
	padding: 7%;

	@include respond-to("mobile") {
		width: 88%;
	}

    
	// Section Illustration: Big letter
	&:before {
		@include position(absolute);
		@include translate(46%, -54%);
		font-size: $section-brand-letter-font-size;
		color: $section-brand-letter-color;
	}

    &:first-child {
        margin-top: 60%;
    }

	$brand-letters: "W", "F", "L", "F";
	@for $i from 1 through length($brand-letters) {
		&:nth-of-type(#{$i}n):before {
			content: nth($brand-letters, $i);
		}
	}

	// Section Illustration: Gradient box
	&:after {
		@include pseudo-element(70%, 450px);
		@include brand-gradient(right);
		@include position(absolute, nil, 0, 0);
		@include translate(80px, 80px);
		z-index: -1;
		opacity: 0.55;
	}
}

body {
	counter-reset: section;
}

.section-header {
	text-transform: uppercase;
	position: relative;
	padding-bottom: $section-header-hr-height;
	line-height: normal;

	&:after {
		@include position(absolute, nil, nil, 0, 0);
		@include pseudo-element($section-header-hr-width, $section-header-hr-height);
		background: $section-header-hr-background;
	}

	> * {
		margin-bottom: $section-header-inner-spacings;
	}
}

.section-title {
	position: relative;
	font-size: $section-title-font-size;

	&:before {
		@include translateX(-115%);
		@include position(absolute, -20%);

		counter-increment: section;
		content: "0" counter(section) " /";
		font-family: 'Lato', sans-serif;
		font-weight: 100;
		font-style: italic;
		font-size: 0.7rem;
	}
}

.section-subtitle {
	font-size: $section-subtitle-font-size;
	margin-left: -3px;
}

.has-section-spacing {
	@at-root & + & {
		margin-top: $section-inner-spacing;
	}
}

.section:nth-child(even){
	right: 0%;
}

.section:nth-child(odd){
	left: -10%;
}

.section:nth-child(even):before{
	left: 0;
    top:-30px;
}

.section:nth-child(odd):before{
	right: 0;
    top:0;
}