.section {
    @include box-shadow(17px 19px 5px -5px rgba(0,0,0,0.06));
	box-sizing: border-box;
	margin: $section-margin-top auto $section-margin-bottom auto;
	width: 65%;
	max-width: 1200px;
	position: relative;
	background: $section-background;
	color: $section-color;
	font-size: $section-font-size;
	line-height: $section-line-height;
	padding: $section-padding;
	z-index: 1;

	@include respond-to("mobile") {
		width: 88%;
		line-height: $section-mobile-line-height;
	}

    &:first-child {
	    margin-top: 90%;

		@include js-mobile() {
			margin-top: $section-margin-top;
	    }
	}
}

// Section Illustration: Gradient box
.section-illustration {
	@include pseudo-element(40%, 80%);
	@include brand-gradient(right);
	@include translate(15%, 15%);
	position: relative;
	max-height: 450px;
	z-index: -1;
	opacity: 0.55;
	margin-top: -400px;
}

body {
	counter-reset: section;
}

.section-header {
	text-transform: uppercase;
	position: relative;
	padding-bottom: $section-header-hr-height;
	line-height: normal;

	&:after {
		@include position(absolute, nil, nil, 0, 0);
		@include pseudo-element($section-header-hr-width, $section-header-hr-height);
		background: $section-header-hr-background;

	}

	> * {
		margin-bottom: $section-header-inner-spacings;
	}
}

.section-title {
	position: relative;
	font-size: $section-title-font-size;

  @include respond-to("mobile") {
    font-size: 0.5rem;
  }

	&:before {
		@include translateX(-115%);
		@include position(absolute, -20%);
		counter-increment: section;
		content: "0" counter(section) " /";
		font-family: 'Lato', sans-serif;
		font-weight: 100;
		font-style: italic;
		font-size: 0.7rem;

    @include respond-to("mobile") {
      font-size: 0.6rem;
    }
	}
}

.section-subtitle {
	font-size: $section-subtitle-font-size;
	margin-left: -3px;

  @include respond-to("mobile") {
    font-size: 1.6rem;
  }
}

.has-section-spacing {
	@at-root & + & {
		margin-top: $section-inner-spacing;
	}
}

section.section:nth-of-type(even){
	right: 0%;

	& + .section-illustration {
		left: 0%;
	}
}

section.section:nth-of-type(odd){
	left: -8%;

	@include js-mobile() {
		left: 0%;
	}

	& + .section-illustration {
		right: 0%;
	}
}