// ======================================================================
// =| Handle Component Sizes |===========================================
// ======================================================================

@mixin speaker-size($items-per-row, $margin: 0) {
  @include margin-horizontal(if($items-per-row == 1, 0, $margin / 2));
  width: if($items-per-row == 1, 100%, (100% / $items-per-row) - $margin);
}

@each $breakpoint, $items-per-row in $speaker-sizes {
  @include respond-to($breakpoint) {
    @if ($items-per-row > 1) {
      .speakers {
        @include margin-horizontal($speaker-horizontal-spacing / -2);
      }
    }

    .speaker {
      @include speaker-size($items-per-row);
    }
  }
}

// ======================================================================
// =| Component |========================================================
// ======================================================================

#speakers {
  width: 75%;
  @include js-mobile() {
    width: 88%;
  }
}

.speakers {
  font-size: 0;
  position: absolute;
  width: 100%;
  left: 13%;
  box-shadow: 7px 4px 46px 1px rgba(0, 0, 0, 0.27);
  margin-top: 150px;

  @include js-mobile() {
    @include margin-vertical($speaker-vertical-spacing);
    left: 8%;
  }
}

.speaker {
  position: relative;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  font-size: $speaker-font-size;

  @include respond-to("down to tablet") {
    font-size: 0.9rem;
  }

  &:not(.speaker-placeholder):hover {
    .speaker-details {
      height: calc(100% - 2rem);
      overflow: auto;
    }
    .speaker-bio {
      opacity: 1;
    }
    .speaker-image {
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      filter: grayscale(0%);
    }
  }

  &.full-width {
    width: 100%;

    .speaker-placeholder-image {
      padding-top: 25%;
    }
  }
  &.two-thirds-width {
    width: 66.666%;

    .speaker-placeholder-image {
      padding-top: 50%;
    }
  }
}

.speaker-image {
  width: 100%;
  display: block;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: -webkit-filter 500ms ease-out,
  -moz-filter 500ms ease-out,
  filter 500ms ease-out;
}

.speaker-details {
  @include padding-horizontal($speaker-horizontal-padding);
  position: absolute;
  bottom: 0;
  width: calc(100% - 2rem);
  background: rgba(255, 255, 255, 0.95);
  margin: 1rem;
  height: $speaker-details-collapsed-height;
  overflow: hidden;
  box-sizing: border-box;
  transition: height 500ms cubic-bezier(0.140, 0.875, 0.295, 0.930);
  transition-timing-function: cubic-bezier(0.140, 0.875, 0.295, 0.930);
}

.speaker-name {
  text-transform: uppercase;
  font-size: $speaker-name-font-size;
  position: relative;
  padding-bottom: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;

  .speaker:hover & {
    white-space: normal;
    overflow: visible;
  }

  &:after {
    @include pseudo-element($speaker-header-hr-width, $speaker-header-hr-height);
    @include position(absolute, nil, nil, 0, 0);
    background: $speaker-header-hr-background;
  }
}

.speaker-bio {
  @include margin-vertical($speaker-header-inner-vertical-spacing);
  font-family: "futura-pt", sans-serif;
  font-style: normal;
  font-weight: 300;
  opacity: 0;
  transition: opacity 350ms 350ms ease-in-out;
  line-height: 1.2rem;

  @include respond-to("up to tablet") {
    font-size: 0.9rem;
  }

  .link {
    @include animated-link($color-green, -1px);
  }
}

.speaker-placeholder-image {
  background-color: #00d09d;
  display: block;
  padding-top: 100%; /* initial ratio of 1:1*/
}
