#venue {
  position: relative;
  padding-bottom: 400px;

  @include js-mobile() {
    padding-bottom: 500px;
  }

  @include respond-to("down to tablet") {
  	width: 50%;
    right: 5%;
  }

  .venue-location > span {
    display: block;
  }

  span.location-address {
    font-weight: 300;
  }

  .venue-description {
    font-weight: 300;
  }

  .venue-directions {
    margin: 30px 0 140px;

    @include js-mobile() {
      margin: 30px 0 30px;
    }
  }

  .venue-map {
    position: absolute;
    width: 90%;
    height: 450px;
    left: 14%;
    @include box-shadow(7px 4px 46px 1px rgba(0,0,0,0.27));

    @include js-mobile() {
      width: 85%;
      left: 8%;
    }

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
