// ======================================================================
// =| Config |===========================================================
// ======================================================================
$size-factor: 10px;
$state-factor: 10%;

// Colors Palette
// ----------------------------------------------------------------------
$color-blue: #1105e7;
$color-green: #00d09d;
$color-white: #ffffff;
$color-beige: #1a1a1a;
$color-black: #000000;

// Font
// ----------------------------------------------------------------------
$font-family: Futura, Arial;

// ======================================================================
// =| Core |=============================================================
// ======================================================================

// Skin
// ----------------------------------------------------------------------
$skin-font-family: $font-family;

// ======================================================================
// =| Component Configuration |==========================================
// ======================================================================

// Intro
// ----------------------------------------------------------------------
$intro-font-size: 4rem;
$intro-logo-font-size: 100%;
$intro-logo-line-height: 1.25;
$intro-logo-padding: 5%;
$intro-title-offset: -5%;
$intro-title-datetime-font-size: 80%;
$intro-title-subtitle-font-size: 40%;