// Define responsive font-size. From now we're using only REMs or %.
html {
	@include respond-to("mobile") {
		font-size: 10px;
	}

	@include respond-to("phablet") {
		font-size: 12px;
	}

	@include respond-to("tablet") {
		font-size: 16px;
	}

	@include respond-to("desktop") {
		font-size: 20px;
	}
}

body {
	font-family: $skin-font-family;
	background: $skin-background;
}